.mavad-mokhader {
    border-radius: 15px;
    background: linear-gradient(to right, #000000, #ffffff);
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}